:root {
    --color-white: #fff;
    --color-black: #000;
    --primary-color: #845EC2;
}

* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: sticky;
}

.navbar-container .navbar {
    padding: 15px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: var(--primary-color);
    box-shadow:  6px 6px 6px #d1d1d1,
             -6px -6px 6px #ffffff;
    position: fixed;
}

.content-container {
    padding-top: 150px;
}