<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a NoteBot</title>
    <link href="{{ url_for('static', path='/styles/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/bootstrap.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Base HTML Template -->
    <!-- Should only contain a Navbar, a Contents Body, and a Footer -->

    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg w-75">
            <div class="container-fluid d-flex flex-row">
                <a class="navbar-brand fw-bold text-light" href="#">NoteBot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-up" viewBox="0 0 16 16">
                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                    </svg>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">NoteBot Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Docs for Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light disabled">Docs for Devs</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', path='/js/bootstrap.bundle.js') }}"></script>
</body>
</html>